/Fraternity_negcycles_summary.csv
/Fraternity_negcycles_x.csv
/Fraternity_negcycles_y.csv
/Monastery_interactions_negcycles_summary.csv
/Monastery_interactions_negcycles_x.csv
/Monastery_interactions_negcycles_y.csv
/Senate108th_negcycles_summary.csv
/Senate108th_negcycles_x.csv
/Senate108th_negcycles_y.csv
