/grafo_closeness_frente_evang_2019_negcycles_summary.csv
/grafo_closeness_frente_evang_2019_negcycles_x.csv
/grafo_closeness_frente_evang_2019_negcycles_y.csv
/grafo_closeness_frente_evang_2020_negcycles_summary.csv
/grafo_closeness_frente_evang_2020_negcycles_x.csv
/grafo_closeness_frente_evang_2020_negcycles_y.csv
/grafo_closeness_frente_evang_2021_negcycles_summary.csv
/grafo_closeness_frente_evang_2021_negcycles_x.csv
/grafo_closeness_frente_evang_2021_negcycles_y.csv
/grafo_closeness_frente_evang_2022_negcycles_summary.csv
/grafo_closeness_frente_evang_2022_negcycles_x.csv
/grafo_closeness_frente_evang_2022_negcycles_y.csv
/grafo_closeness_frente_evang_2023_negcycles_summary.csv
/grafo_closeness_frente_evang_2023_negcycles_x.csv
/grafo_closeness_frente_evang_2023_negcycles_y.csv
/grafo_closeness_frente_evang_2024_negcycles_summary.csv
/grafo_closeness_frente_evang_2024_negcycles_x.csv
/grafo_closeness_frente_evang_2024_negcycles_y.csv
