/grafo_absolute_votacoes2019_negcycles_summary.csv
/grafo_absolute_votacoes2019_negcycles_x.csv
/grafo_absolute_votacoes2019_negcycles_y.csv
/grafo_absolute_votacoes2020_negcycles_summary.csv
/grafo_absolute_votacoes2020_negcycles_x.csv
/grafo_absolute_votacoes2020_negcycles_y.csv
/grafo_absolute_votacoes2021_negcycles_summary.csv
/grafo_absolute_votacoes2021_negcycles_x.csv
/grafo_absolute_votacoes2021_negcycles_y.csv
/grafo_absolute_votacoes2022_negcycles_summary.csv
/grafo_absolute_votacoes2022_negcycles_x.csv
/grafo_absolute_votacoes2022_negcycles_y.csv
/grafo_absolute_votacoes2023_negcycles_summary.csv
/grafo_absolute_votacoes2023_negcycles_x.csv
/grafo_absolute_votacoes2023_negcycles_y.csv
/grafo_absolute_votacoes2024_negcycles_summary.csv
/grafo_absolute_votacoes2024_negcycles_x.csv
/grafo_absolute_votacoes2024_negcycles_y.csv
