/ecoli_symm_negcycles_summary.csv
/EGFR_symm_negcycles_summary.csv
/EGFR_symm_negcycles_x.csv
/EGFR_symm_negcycles_y.csv
/ecoli_symm_negcycles_x.csv
/ecoli_symm_negcycles_y.csv
/macrophage_symm_negcycles_summary.csv
/macrophage_symm_negcycles_x.csv
/macrophage_symm_negcycles_y.csv
/yeast_symm_negcycles_summary.csv
/yeast_symm_negcycles_x.csv
/yeast_symm_negcycles_y.csv
